.MemoListItem {
  display: flex;
  background: white;
  border-radius: 1rem;
  border: 2px solid lightgrey;
  margin-top: 1rem;
  padding: 1rem;

  pre {
    margin: 0;
    padding: 0;
    cursor: pointer;
    flex: 1;
    background: none;
    outline: none;
    border: none;
    font-size: 1.125rem;
    line-height: 1.5;
    white-space: pre-wrap;
    font-family: sans-serif;
    user-select: none;
  }

  textarea {
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
    padding: 0;
    font-size: 1.125rem;
    font-family: sans-serif;
    line-height: 1.5;
    resize: none;
    color: black;
    height: 1.6875rem;
    max-height: 20rem;
    flex: 1;
    user-select: none;
    &:focus {
      outline: none;
    }
  }

  &.checked {
    background: #dee1e4;
    pre {
      color: #adb5bd;
      text-decoration: line-through;
    }
    textarea {
      color: #adb5bd;
      text-decoration: line-through;
    }
    .btn {
      color: lightgrey;
    }
  }

  .btn {
    display: flex;
    align-items: flex-start;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 0.2rem;
    max-height: 2rem;

    &.edit {
      color: #737080;
      &:hover {
        color: #929292;
      }
    }
    &.save {
      color: #6cbd4b;
      &:hover {
        color: #9ad483;
      }
    }
    &.remove {
      color: #ff6b6b;
      &:hover {
        color: #ff8787;
      }
    }
  }

  // .remove {
  //   display: flex;
  //   align-items: flex-start;
  //   font-size: 1.5rem;
  //   color: #ff6b6b;
  //   cursor: pointer;
  //   max-height: 2rem;
  //   &:hover {
  //     color: #ff8787;
  //   }
  // }
}
