.Template {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.app-title {
  background: #22b8cf;
  color: white;
  height: 5rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  background: white;
}
