.Template {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  margin-bottom: 3rem;
}

.app-title {
  // background: #22b8cf;
  color: #22b8cf;
  height: 5rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
